
/* .header{
    height: 300px;
    background-color:bisque; 
      background-image: url('images/img.jpg'); 
     background-repeat: no-repeat; 
    background-image: url('./img1.jfif');
}

.header,h2{
    color: white;
} */

